section.app-cpnt .gallery-puzzle {
  height: 100vh;
  padding: 0 10%;
  max-width: 350px;
  margin: auto;
}


section.app-cpnt .puzzle {
  width: 90%;
  height: 400px;
  overflow: hidden;
  font-size: 30px;
  margin: 50px auto 0;
}

section.app-cpnt .puzzle > span:first-child {
  width: 30%;
}

section.app-cpnt .puzzle > span {
  display: inline-block;
  height: 200px;
  box-sizing: border-box;
  border: 2px solid;
  font-size: 0;
  padding: 0;
  margin: 0;
  position: relative;
}

section.app-cpnt .puzzle > span:nth-child(2) {
  width: 70%;
}

section.app-cpnt .puzzle > span:nth-child(3) {
  width: 55%;
}

section.app-cpnt .puzzle > span:nth-child(4) {
  width: 45%;
}

section.app-cpnt .puzzle > span > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.app-cpnt .puzzle > span > div {
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s;
  opacity: 0;
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 200px;
  cursor: pointer;
}

section.app-cpnt .puzzle > span > div:hover {
  opacity: 0.7;
}

section.app-cpnt.gallery-puzzle > .frame > img {
  width: 100%;
}

section.app-cpnt.gallery-puzzle > .frame {
  margin-top: 50px;
}