section.app-cpnt.afterparty > .title {
  margin: 100px 0 50px;
}

section.app-cpnt.afterparty img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

section.app-cpnt.afterparty > .ticket {
  cursor: zoom-in;
}

/* detail */
section.app-cpnt.afterparty section.ticket-detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding: 10%;
  background: rgba(0,0,0,0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

section.app-cpnt.afterparty section.ticket-detail.active {
  opacity: 1;
  pointer-events: initial;
}

section.app-cpnt.afterparty section.ticket-detail > div {
  position: relative;
  cursor: zoom-out;
}


section.app-cpnt.afterparty section.ticket-detail > div.pic1 {
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: auto;
}



section.app-cpnt.afterparty section.ticket-detail > div.pic2 {
  display: none;
}

section.app-cpnt.afterparty section.ticket-detail button {
  background: none;
  border: 0;
  font-size: 20px;
  outline: none;
}

section.app-cpnt.afterparty section.ticket-detail button > i {
  margin: 0;
}

section.app-cpnt.afterparty > .sub-title {
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
}


@media screen and (max-width: 380px) {
  section.app-cpnt.timeline section.app-cpnt.afterparty {
    width: 250px;
  }

  section.app-cpnt.afterparty section.ticket-detail > div.pic1 {
    display: none;
  }

  section.app-cpnt.afterparty section.ticket-detail > div.pic2 {
    display: block;
    width: 100%;
    height: -webkit-calc(100% - 50px);
    position: absolute;
    top: 10px;
    left: 0;
  }
  
}


/* section.app-cpnt.afterparty > .ticket.bak {
  position: relative;
  width: 100%;
  height: 100%;
}

section.app-cpnt.afterparty > .ticket.bak:before {
  content: "點擊放大";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  background: rgba(0,0,0,0.3);
  line-height: 80px;
  color: #eee;
} */


