section.app-cpnt.footer {
  padding: 10%;
  height: 120vh;
  position: relative;
}

section.app-cpnt.footer > div {
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
}

section.app-cpnt.footer > .frame > img {
  width: 100%;
}

section.app-cpnt.footer .title-special {
  white-space: nowrap;
  font-size: 30px;
}

section.app-cpnt.footer section.last {
  position: absolute;
  left: 10%;
  bottom: 40px;
  width: 90%;
  text-align: left;
  white-space: nowrap;
}

section.app-cpnt.footer section.last > div:last-child {
  margin-top: 10px;
}

section.app-cpnt.footer section.last > div:last-child > span {
  margin-right: 10px;
  padding-right: 10px;
  cursor: not-allowed;
}