section.app-cpnt.sub {
  position: relative;
  width: 40%;
  height: 100%;
  margin-left: auto;

  color: rgba(255,255,255,.9);
  background: #4c4f52;
}

section.app-cpnt.sub > * {
  padding: 30px;
}
